body {
    background-image: url("golden_chinese_characters.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {  
    text-align: center;
    color: #7B541A;
    background-color: #C29A5F;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;    
}
h2 {  
    color: #513203;           
    background-color: #EECD9B;
    margin: 10px;   
    margin-bottom: 20px;
}
div {           
    background-color: #EECD9B;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
p {  
    color: #7B541A;           
    background-color: #EECD9B;
    margin: 10px;
    margin-bottom: 0;
}
img {  
    float: right;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 0;
    box-shadow: 3px 3px 10px black;
}
button {  
    display: inline;
    margin: 10px;
    background-color: #7B541A;
    color: white;
    border-color: #7B541A;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover {  
    background-color: white;
    color:#513203;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #513203;
}
li {  
    float: left;
    padding: 5px;
}
a {  
    color: #2d3d4c;
    text-decoration: none;
    font-weight: bold;
}
a.nav_bar {  
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #EECD9B;
}
a.nav_bar:hover {  
    text-shadow: 2px 2px 2px black;
}
.hidden {
    visibility: hidden;
}
.pinyin {
    font-size: 0.7em;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.chinese {
    margin-top: 0;
}
.heading_czech {
    color: #513203;
    padding-bottom: 0;
}
.heading_chinese {
    padding-top: 0;
    margin-top: 0;
}